<div class="jumbotron">
    <h1>BrainWare Orders</h1>
    <p class="lead">This is the BrainWare orders page! Welcome</p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Your Orders</h2>
        <div id="orders">
        </div>
    </div>
</div>
<div ng-app="OrderApp" class="row">
    <div ng-controller="OrderController">
        {{message}}
        <ul>
            <li ng-repeat="order in orders track by $index">
                {{order.Description}} (Total: ${{order.OrderTotal}})
                <ul ng-repeat="product in order.OrderProducts" >
                    <li>
                        {{product.Product.Name}}  ({{product.Quantity}} @@ $ {{product.Price}} /ea)
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
